<body>
  <div class = "container">
 <section class="content">
      <h1>Laboratorio 8  PHP</h1>
      <h3 id="PA">Promedio, Mediana, Acendente y Decendente</h3>
      <form action="index.php" method="post">
       Numero 1 <input type="number" name="n1" value="0">
       Numero 2 <input type="number" name="n2" value="0">
       Numero 3 <input type="number" name="n3" value="0">
       Numero 4 <input type="number" name="n4" value="0">
       Numero 5 <input type="number" name="n5" value="0">

      <h3 id="LA">Tabla: Numero, Cuadrado y Cubo</h3>
        Introduce un numero <input type="number" name="n6" value="0">
        <div class="centered">
        <button type="submit" name="button">Resultados</button>
        </div>
      </form>
    </section>
    </div>
      
</body>

