<footer class="page-footer light-blue darken-4">
        <div class="light-blue darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Laboratorio 8</h5>
                <p class="grey-text text-lighten-4">Herramienta para desarrollar este laboratorio fue REPL.IT</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Datos de Alumno</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3">Nombre: Jorge Andrés López Chávez</a></li>
                  <li><a class="grey-text text-lighten-3">Matricula: A01209043</a></li>
                   <li><a class="grey-text text-lighten-3">Correo: jorge.lopezch@outlook.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Desarrollo de Aplicaciones Web
            <a class="grey-text text-lighten-4 right" href="https://repl.it/@JorgeAndresAnd4/Lab8"> Herramienta de Desarrollo: Repl.it</a>
            </div>
          </div>
        </div>
        </footer>