<div class="navbar-fixed">
<nav class="light-blue darken-2">
     <div class="container">
     <div class="nav-wrapper">
      <a class="brand-logo">LABORATORIO 8</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#PA">Promedio Arreglo</a></li>
        <li><a href="#PA">Mediana de Arreglo</a></li>
        <li><a href="#LA">Lista de Arreglo</a></li>
        <li><a href="#">Libre</a></li>
        <li><a href="#PRE">Preguntas</a></li>
      </ul>
    </div>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#PA">Promedio Arreglo</a></li>
        <li><a href="#PA">Mediana de Arreglo</a></li>
        <li><a href="#PA">Lista de Arreglo</a></li>
        <li><a href="#">Libre</a></li>
        <li><a href="#PRE">Preguntas</a></li>
  </ul>
  </nav>
  </div>
 </div>
