
<div id="PRE" class= "container">
  <h2> Preguntas PHP </h2>
    <h5>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.</h5>

    <p> phpinfo() despliega una tabla la cual es util en caso de necesitar saber com o utilizar alguna funcion dentro php. Ademas algunas algo que me llamo la atención esque viene bien detallado y con apartados dependiednod que se este haciendo.</p>
    <br>
    <p> Esta seria la tabla desplegada de phpinfo();</p>
    <br>
    <h5>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</h5>

    <p></p>

    <h5>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</h5>

</div>