html{
	background: black;
	color: white;
}

body {
	text-align: center;
}

h1{
 text-align: center;
}

.titulo{
	font-size: 2em;
	text-align: left;
}

h2{
 text-align: left;
}

h3{
	font-size: .5em;
}

.datos{
	padding-bottom: 8em;
}

button{
	padding: 12px 40px;
	font-size: .75em;
	background-color: black;
	color: white;
	border: 2px solid green;
	border-radius: 50%;
}

button:hover{
	border: 2px solid red;
}

.preguntas{
 margin-top: 10em;
 text-align: left;
}

footer img{
	height: 50px;
	width: 50px;
}